@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css");

:root {
  --primary-black: #0a0a0a;

  --primary-white: #fcfcfc;
  --light-gray: #f0f0f0;
  --medium-gray: #565656;

  --primary-blue: #0000ff;
  --dark-blue: #000080;
  --light-blue: #8080ff;

  --bg-gradient: linear-gradient(
    to bottom,
    var(--primary-black),
    var(--dark-blue)
  );
  --bg-gradient-top: linear-gradient(
    35deg,
    var(--primary-black) 50%,
    var(--dark-blue)
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins";
  list-style: none;
}
body {
  background: var(--primary-black);
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  color: var(--primary-white);
}
.app-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* background: var(--bg-gradient); */
}
.header h1{
    padding: 1.3rem 1rem;
  font-size: 1.5rem;
  font-weight: 400;
}
.notification-list {
  flex-grow: 1;
  overflow-y: auto;
}
.notification-item {
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .5rem 1rem;
  background: rgba(0,0,128,0.4);
  border-top: 1px solid var(--primary-blue);
}
.notice-icon {
  font-size: 2.4rem;
  color: var(--light-gray);
}
.text-content {
  flex-grow: 1;
  line-height: 1.1;
}
.type {
  font-weight: bold;
  margin: 0 0 4px 0;
  font-size: 0.9rem;
  color: var(--primary-white); 
}
.detail {
  margin: 0;
  font-size: 0.75rem;
  color: var(--light-gray);
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 50%);
  bottom: 40px;
  background: linear-gradient(180deg, #8080ff4d 0%, #0a0a0a 100%), #0a0a0a;
  backdrop-filter: blur(20px);
  width: 160px;
  border: 1px solid #8080ff4d;
  border-radius: 10px;
  height: 45px;
  padding: 10px;
}
.navbar span a {
  font-size: 14px;
  color: var(--primary-white);
  font-weight: 700;
}
.navbar span a:hover {
  color: #989494;
}
.navbar .nav-link.active {
  background-color: var(--primary-blue);
  box-shadow: inset -6px -6px 12px var(--light-blue),
    inset 6px 6px 12px var(--primary-blue);
  padding: 5px;
  border-radius: 8px;
  width: 35px;
  height: 30px;
}

.imgs{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}
.imgs img{
    position: absolute;
}
.imgs img:nth-child(1){
    top: 0;
    right: 0;
    width: 100%;
    opacity: 0.7;
}
.imgs img:nth-child(2){
    bottom: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}
.imgs img:nth-child(3){
    bottom: 3rem;
    left: 0;
    width: 100%;
}