@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-black: #0a0a0a;

  --primary-white: #fcfcfc;
  --light-gray: #f0f0f0;
  --medium-gray: #565656;

  --primary-blue: #0000ff;
  --dark-blue: #000080;
  --light-blue: #8080ff;

  --bg-gradient: linear-gradient(
    to bottom,
    var(--primary-black),
    var(--dark-blue)
  );
  --bg-img: url("bg-imgs.svg");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins";
  list-style: none;
}
body {
  background-color: var(--primary-black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: top;
  min-height: 100vh;
  width: 100vw;
  overflow-y: hidden;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  height: 100%;
}
.hide {
  display: none;
}
.bg-img {
  position: relative;
  min-width: 100vw;
  transform: translateY(-100%);
  opacity: 0.5;
  transition: 1.75s all ease-in;
}
.bg-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    transparent 0%,
    var(--primary-black) 90%
  );
  pointer-events: none;
}
.bg-img img {
  max-inline-size: 100%;
  block-size: auto;
  width: 100%;
}
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 0.7rem;
  position: absolute;
  bottom: 20%;
  transform: translateY(20%);
}
.logo {
  margin: 2rem;
  padding: 3rem 5rem;
  font-weight: 200;
  color: var(--light-gray);
}
.login-btn {
  background: var(--primary-blue);
  color: var(--primary-white);
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  margin-bottom: 2rem;
  text-decoration: none;
}
.sign-link {
  padding: 2rem;
}
.sign-link a {
  color: var(--light-blue);
  text-decoration: none;
}
.terms {
  padding: 0 5rem;
}
.blur-bg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0.5;
  transition: 1.75s all ease-in;
  transition: 1.75s all ease-in;
}
.blur-bg img {
  width: 100vw;
}
.scale {
  transition: 1s all ease-in;
  transform: scale(0.75);
  opacity: 0;
}
.control {
  transform: translateY(0%) scale(1);
  opacity: 1;
  z-index: -1;
  pointer-events: none;
}

/* profile page styles */

.profileP{
 margin-top: 50px;
 margin-bottom: 5px;
  height: 22px;
  font-size: 18px;
  font-weight: 400;
}

.profile-img{
 text-align: center;
  
   margin-top: 40px;
}
.profile-img1{
  width: 181px;
   height: 181px;
   border-radius: 100px;  
    border: 2px solid var(--light-gray);
   
}

.Username{
  margin-top: 10px;
}

.User-details{
  height: 167px;
  width: 395px;
  background: rgb(5, 5, 46);
  margin-top: 36px;
}

.logout{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
  font-size: 10px;
}


/* Movie details page styles*/

.arrow{
  margin-top: 30px;
  margin-left: 15px;

}
.watching{
  height: 335px;
  width: 198px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.movie-poster{
  border-radius: 8px;
  height: 247px;
  width: 150px;
  padding: auto;
  align-items: center;
}

.movie-title{
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 24px;
  margin-top: 10px;
}

.release-year{
  text-align: center;
  margin-top: 5px;
}

.movie-genres{
  display: flex;
  flex-direction: row;
  gap: 21px;
  color: var(--medium-gray);
  font-size: 10px;
  margin-top: 18px;
}

.synopsis{
  margin-top: 30px;
  height:180px;
  width: 299px;
  font-size: 8px;
}
.synopsis > h1{
  margin-bottom: 3px;
  font-size: 10px;
}

.details-btn{
  display: flex;
  flex-direction: row;
  gap: 26px;
}

.watch-later-btn{
border: 1px solid var(--light-gray);
border-radius: 8px;
height: 40px;
width: 126px;
 padding: 0.5rem 1rem;
text-decoration: none;
color: var(--primary-white);
font-size: 12px;

}