@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

:root {
  --primary-black: #0a0a0a;

  --primary-white: #fcfcfc;
  --light-gray: #f0f0f0;
  --medium-gray: #565656;

  --primary-blue: #0000ff;
  --dark-blue: #000080;
  --light-blue: #8080ff;

  --bg-gradient: linear-gradient(
    to bottom,
    var(--primary-black),
    var(--dark-blue)
  );
  --bg-gradient-top: linear-gradient(
    35deg,
    var(--primary-black) 50%,
    var(--dark-blue)
  );
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins";
  list-style: none;
}
body {
  background-color: var(--primary-black);
  min-height: 100vh;
  width: 100%;
  position: relative;
}

i{
  font-size: 14px;
}

/* home page */
.logo-section{
  display: flex;
  justify-content: space-between;
  margin-inline: 15px;
  margin-block: 10px;
}

.logo-section .bi{
  color: var(--primary-white);
}

.first-icon{
    margin-right: 5px;
}

.hPhd-image{
  position: relative;
  height: 320px;
}

.hPhd-image{
  position: relative;
}

.slider-section{
  display: flex;
  overflow-x: scroll;
}
.slider{
  position: relative;
  height: 320px;
}

.slider-section {
  display: flex;
  overflow: hidden;      
  scroll-behavior: smooth;
  width: 100%;
}

.slider {
  min-width: 100%;        
  height: 320px;
  position: relative;
}

.dot {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.dot span {
  width: 5px;
  height: 5px;
  margin: 0 5px;
  background-color: #888;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot .active {
  background-color: var(--primary-blue);
}

.header-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--primary-white);
}
.header-main h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}
.header-main .list span {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 500;
  line-height: 120%;
}
.header-paly {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  width: 106px;
  height: 40px;
  border-radius: 8px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

.header-paly .bi {
  font-size: 16px;
}


main{
  background-image: url(assets/Background.png);
}

.mv-text {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  line-height: 120%;
  margin-inline: 15px;
   margin-block: 20px;
}

.mv-img .span-mv{
  width: 100%;
  object-fit: contain;
}

.mv-img .span-mv img{
  width: 100%;
  object-fit: contain;
}


.mv-img {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(130px,1fr));
  gap: 10px;
  place-items: center;
  margin-inline: 15px;
  transition: transform 1s ease;
}
.mv-img img:hover {
  transform: scale(0.9);
}
 .span-mv{
  position: relative;
 }



 .span-mv p{
  width: 100%;
  position: absolute;
  bottom: 5px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  left: 50%;
  text-align: center;
  transform: translateX(-50%);
  color: #ffffff;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(50px);
 }

footer{
  color: var(--primary-white);
  margin-block-end: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 10px;
  font-weight: 400;
  margin-inline: 5px;
}

.footer-hd{
 margin-block: 10px;
}

/* profile page styles */

.profileP {
  margin-top: 50px;
  margin-bottom: 5px;
  height: 22px;
  font-size: 18px;
  font-weight: 400;
}

.profile-img {
  text-align: center;

  margin-top: 40px;
}
.profile-img1 {
  width: 181px;
  height: 181px;
  border-radius: 100px;
  border: 2px solid var(--light-gray);
}

.Username {
  margin-top: 10px;
}

.User-details {
  height: 167px;
  width: 395px;
  background: rgb(5, 5, 46);
  margin-top: 36px;
}

.logout {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
  font-size: 10px;
}

/* Movie details page styles*/

.arrow {
  margin-top: 30px;
  margin-left: 15px;
}
.watching {
  height: 335px;
  width: 198px;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.movie-poster {
  border-radius: 8px;
  height: 247px;
  width: 150px;
  padding: auto;
  align-items: center;
}

.movie-title {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  height: 24px;
  margin-top: 10px;
}

.release-year {
  text-align: center;
  margin-top: 5px;
}

.movie-genres {
  display: flex;
  flex-direction: row;
  gap: 21px;
  color: var(--medium-gray);
  font-size: 10px;
  margin-top: 18px;
}

.synopsis {
  margin-top: 30px;
  height: 180px;
  width: 299px;
  font-size: 8px;
}
.synopsis > h1 {
  margin-bottom: 3px;
  font-size: 10px;
}

.details-btn {
  display: flex;
  flex-direction: row;
  gap: 26px;
}

.watch-later-btn {
  border: 1px solid var(--light-gray);
  border-radius: 8px;
  height: 40px;
  width: 126px;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--primary-white);
  font-size: 12px;
}


/* Watch later page styles */

.watch-list{
  display: flex;
  flex-direction: row;
  width: 375px;
  height: 75px;
  gap: 10px;
  margin-top: 3px;
  padding-left: 18px;
  padding-right: 10px;
  color: var(--light-gray);
  

  background: #000033;
}
.col{
  flex: 1;
}
.poster{
padding-top: 5px;
}
.title{
  padding-top: 20px;
  flex: 3;
  justify-content: center;
  align-items: center;
}
.play-btn{
  
  padding-top: 25px;
  padding-left: 50px;

}
.watchP{
  width: 375px;
  margin-top: 30px;
  height: 22px;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  margin-bottom: 10px;
}
.time-p{
  font-size: 10px;
  color: #FCFCFC;
}
.titleP{
  font-size: 18px;
}
.bg{
  
  background: var(--bg-gradient);
}


/* START OF SEARCH STYLES */
.search-container {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.search-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.logo img{
  width: 8rem;
}
.search-header .logo{
  text-align: center;
  margin-top: 1.5rem;
}
.search-group{
  position: relative;
  width: min(70%, 400px);
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.search-input {
  width: 100%;
  padding: .8rem;
  border-radius: .9rem;
  border: 2px solid var(--medium-gray);
  outline: transparent;
  background: var(--primary-black);
  color: var(--medium-gray);
}
.search-input:focus{
  color: var(--light-gray);
}
.search-icon{
  position: absolute;
  background: transparent;
  border: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
.result-found{
  display: block;
  color: var(--light-gray);
  font-size: 0.8rem;
  text-align: center;
}
.play-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  margin-left: auto;
}
.play-btn img {
  width: 2rem;
  height: 2rem;
}
.result {
  width: 100%;
  display: flex;
  align-items: center;
  gap: .8rem;
  padding: .4rem 1rem;
  background: var(--dark-blue);
  color: var(--primary-white);
  border-bottom: 1px solid var(--primary-white);
}
.thumb {
  width: 4rem;
  height: 5.5rem;
  border-radius: .7rem;
  overflow: hidden;
}
.thumb img {
  max-inline-size: 100%;
  block-size: auto;
}
.meta {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: flex-start;
  font-size: 1rem;
}
.duration {
  font-size: 0.8rem;
}
.msg{
  text-align: center;
  color: rgba(255, 0, 0, 0.637);
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 1.75s ease;
}
.err{
  max-height: 2rem;
  opacity: 1;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  background-color: var(--primary-black);
  text-align: center;
  color: var(--light-gray);
}
footer .logo {
  margin-bottom: 0.5rem;
}
footer p {
  padding-inline: 4.5rem;
  font-size: 0.8rem;
  line-height: 1.2;
}
/* END OF SEARCH STYLES */