@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* ROOT COLORS */
:root {
  --primary-black: #0a0a0a;

  --primary-white: #fcfcfc;
  --light-gray: #f0f0f0;
  --medium-gray: #565656;

  --primary-blue: #0000ff;
  --dark-blue: #000080;
  --deep-blue: #000033;
  --light-blue: #8080ff;

  --bg-gradient: linear-gradient(to bottom, var(--primary-black), var(--dark-blue));
  --bg-gradient-top: linear-gradient(35deg, var(--primary-black) 50%, var(--dark-blue));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
  font-family: "Poppins";
  list-style: none;
}

body {
  background-color: var(--primary-black);
  min-height: 100vh;
  width: 100%;
  position: relative;
}

i { font-size: 14px; }

/* ========== HOME PAGE ========== */
.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-icons {
  display: flex;
  gap: 1rem;
  color: var(--primary-white);
  font-size: 1.5rem;
}

.hPhd-image {
  position: relative;
  height: 320px;
}

/* SLIDER */
.slider-section {
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  width: 100%;
}

.slider {
  min-width: 100%;
  height: 320px;
  position: relative;
}

.slider img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

/* SLIDER DOTS */
.dot {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
}

.dot span {
  width: 5px;
  height: 5px;
  margin: 0 5px;
  background-color: #888;
  border-radius: 50%;
  transition: background-color 0.3s;
  cursor: pointer;
}

.dot .active {
  background-color: var(--primary-blue);
}

/* SLIDER HEADER CONTENT */
.header-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: var(--primary-white);
}

.header-main h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 120%;
}

.header-main .list span {
  margin-right: 10px;
  font-size: 10px;
  font-weight: 500;
}

.header-paly {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--primary-white);
  background-color: var(--primary-blue);
  width: 106px;
  height: 40px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

.header-paly .bi {
  font-size: 16px;
}

main {
  background-image: url(assets/Background.png);
}

/* MOVIE SECTION */
.mv-text {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  font-size: 10px;
  margin: 20px 15px;
}

.mv-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
  gap: 10px;
  place-items: center;
  margin: 0 15px;
  transition: transform 1s ease;
}

.mv-img img:hover {
  transform: scale(0.9);
}

.span-mv {
  position: relative;
}

.span-mv img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.span-mv p {
  position: absolute;
  width: 100%;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #ffffff;
  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(50px);
}

/* ========== PROFILE PAGE ========== */
.profile {
  background-image: url(assets/Background.png);
}

.logo-p {
  text-align: center;
  margin-block: 20px;
}

.main-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CLEANED PROFILE (HEAD VERSION) */
.profile-p {
  font-size: 18px;
  font-weight: 400;
  color: var(--primary-white);
  margin-block: 40px;
}

.profile-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-white);
  margin-bottom: 60px;
}

.profile-image img {
  width: 50%;
}

.profile-image p {
  margin-top: 10px;
}

.profile-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 60px;
}

.info-p {
  display: flex;
  gap: 100px;
  color: var(--primary-white);
  margin-top: 20px;
}

.info-p span {
  font-size: 10px;
  font-weight: 600;
}

.info-p p {
  font-size: 8px;
  font-weight: 400;
}

/* ========== NOTIFICATION PAGE ========== */
.notification-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  transition: all 0.5s ease;
}

.notification-container.show-notify {
  opacity: 1;
  z-index: 10;
  min-height: 100vh;
  color: var(--primary-white);
}

.logo-section {
  background: var(--primary-black);
  padding: 15px;
}

.logo-section img {
  width: 8rem;
  margin: auto;
}

.logo-section p {
  margin-top: 15px;
}

.notify {
  display: flex;
  align-items: center;
  background: var(--deep-blue);
  padding: 10px 15px;
  font-size: 10px;
  font-weight: 600;
}

.notify .bi {
  font-size: 20px;
}

.notify .span {
  margin-left: 15px;
}

.notify .span p {
  font-size: 8px;
  font-weight: 400;
}

/* ========== SEARCH ========== */
.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(255, 255, 255, 0.185);
  backdrop-filter: blur(1rem);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -10;
  transition: all 0.5s ease;
}

.show-search {
  opacity: 1;
  z-index: 10;
  min-height: 100vh;
}

.search-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-logo img {
  width: 8rem;
}

.search-logo {
  background: var(--primary-black);
  padding: 1rem;
  text-align: center;
}

.search-group {
  width: min(70%, 400px);
  margin: auto;
  position: relative;
}

.search-input {
  width: 100%;
  padding: .8rem;
  border: 2px solid var(--medium-gray);
  border-radius: .9rem;
  background: var(--primary-black);
  color: var(--medium-gray);
}

.search-input:focus {
  color: var(--light-gray);
}

.search-icon {
  position: absolute;
  background: transparent;
  border: none;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.search-result {
  display: flex;
  gap: .8rem;
  padding: .4rem 1rem;
  background: var(--deep-blue);
  border-bottom: 1px solid var(--primary-white);
  color: var(--primary-white);
}

.search-result-found {
  text-align: center;
  color: var(--light-gray);
  font-size: .8rem;
}

.search-thumb {
  width: 4rem;
  height: 5.5rem;
  border-radius: .7rem;
  overflow: hidden;
}

.search-thumb img {
  width: 100%;
  height: auto;
}

.search-meta {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.search-duration {
  font-size: .8rem;
}

.search-msg {
  text-align: center;
  color: var(--light-gray);
  max-height: 0;
  opacity: 0;
  transition: all .75s ease;
}

.search-msgError {
  max-height: 2rem;
  opacity: 1;
}

.search-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--deep-blue);
  padding: 1rem;
  text-align: center;
  color: var(--light-gray);
}

.search-footer p {
  padding: 0 4.5rem;
  font-size: .8rem;
  line-height: 1.2;
}

/* ========== SIGNUP FORM ========== */
.form-sec {
  background-image: url(assets/Background.png);
  width: 100%;
  height: 100vh;
}

.logo-form {
  background-color: var(--primary-black);
  width: 100%;
  height: 50px;
}

.logo-form img {
  margin: auto;
  padding: 15px 0;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--primary-white);
  margin-top: 50px;
}

.welcome p {
  font-size: 18px;
  font-weight: 400;
}

.welcome span {
  font-size: 12px;
  font-weight: 700;
}

form {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

form input {
  width: 16rem;
  margin-top: 15px;
  padding: 5px;
  background: transparent;
  border: 1px solid var(--primary-white);
  border-radius: 5px;
  color: var(--primary-white);
  font-size: 8px;
}

form button {
  width: 5rem;
  height: 30px;
  margin-top: 15px;
  background-color: var(--primary-blue);
  color: var(--primary-white);
  border: none;
  border-radius: 8px;
  font-size: 10px;
}
